body {
      left: 0;
      margin: 0;
      overflow: hidden;
      position: relative;
    }
    /* Initial menu */
    .menu {
      background: #ffffff;
      /* #D1E0E8 background: #afdefa url('https://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png') repeat left top;*/
      height: 100%;
      min-width: 230px;
  /* start off behind the scenes */
      position: absolute;
      overflow: -moz-scrollbars-vertical;
      overflow-y: auto;
      -webkit-box-shadow: 5px 1px 9px 0px rgba(50, 50, 50, 0.67);
      -moz-box-shadow:    5px 1px 9px 0px rgba(50, 50, 50, 0.67);
      box-shadow:         5px 1px 9px 0px rgba(50, 50, 50, 0.67);
      z-index:10;
      padding:0px !important;

    }
    .title-custom {
      margin: 10px 0px 15px 0px;
    }
    .radio-custom {
    }
    .radio-custom label {
      color: #424242;
    }
    .input-field-custom label {
      color: #424242;
      font-size: 16px;
      margin: 0px 0px 20px 5px;
    }
    /* Basic styling */
    .row{
      height: 100%;
      width:100%;
    }

    #pac-input{
      display: none
    }
    .jumbotron {
      background-image: url('https://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/bg.png');
      height: 100%;
      -webkit-background-size: cover;
         -moz-background-size: cover;
           -o-background-size: cover;
              background-size: cover;
    }
    .menu form {
      padding-top: 10px;
      padding-right: 20px;
      padding-bottom: 10px;
      padding-left: 20px;
    }
   
    .icon-close {
      color: #ffffff;
      background: #0097A7; /*#9DB9C8*/
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      padding-left: 10px;
      padding-top: 6px;
    }
    .icon-menu {
      font-size: 20px;
    }
    .icon-menu i {
      margin-right: 5px;

    }
    .navbar-header{
      float:left !important;
    }
    .nav-right{
      float:right !important;
    }
    .navbar-custom {
      color: #0097A7;
      background: #0097A7;
      font-family: "Lucida Grande", "Arial", sans-serif;
      font-size: 14px;
      font-weight: bold;
    }
    .navbar-custom .navbar-brand {
      color: #ffffff;
      float: left;
    }
    .navbar-custom .navbar-nav>li>a {
      color: #ffffff;
    }
    .navbar-img {
      margin: 0px 0px 0px 25px;
    }
    a:hover, a:visited, a:link, a:active
    {
        text-decoration: none;
    }
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    div#map {
      height: 100%;
    }
    #Search{
      margin-bottom:10%;
    }
    .menu-row{
      padding-top: 10%
    }
    
 